@import "responsive";
@import "utils";

.container-login-panel {
    background-image: url(/images/pattern.jpg);
    background-repeat: repeat;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .container-form {
        min-width: 450px;
        max-width: 450px;
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        box-shadow: -3px 4px 0px 1px #918686;

        &-logo {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: #848484;
        }

        &-fields {

            & form {
                & label {
                  font-weight: 400;
                    text-transform: uppercase;
                    font-size: 0.80rem;
                }
            }
        }
    }
}


.button-login {
    border-radius: 20px;
}

.input-login {
    border-radius: 20px;
    text-align: center;
}
